:root {
	--primary: #77fffc;
}
body {
	margin: 0;
}
header {
	height: 70px;
	width: 100%;
	margin: 0;
	z-index: 1;
	position: fixed;
	border-bottom: thin solid black;
	background-color: white;
	padding: 0;
	top: 0;
}
article {
	display: grid;
	align-content: start;
}
.services-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
}
h1 {
	margin: auto;
}
header ul {
	float: right;
	padding-right: 50px;
}
header ul li {
	display: inline;
	padding: 20px;
}
header ul li:hover {
	cursor: pointer;
}

#bryant {
	height: 500px;
	background-color: black;
	margin-top: 70px;
	justify-content: center;
	align-content: center;
}
#services {
	padding-top: 70px;
	height: 500px;
	background-color: var(--primary);
}
#portfolio {
	padding-top: 70px;
	height: 500px;
	background-color: black;
}
#contact {
	padding-top: 70px;
	height: 500px;
	background-color: var(--primary);
}
